<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="BIG_RY_DBEntities" connectionString="metadata=res://*/BIG_RY_DB.csdl|res://*/BIG_RY_DB.ssdl|res://*/BIG_RY_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.59.122.206;initial catalog=BIG_RY_DB;persist security info=True;user id=big_rayong;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>