
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Service-->
<section id="service">
    <div class="container">
        <h2>บริการของเรา</h2>
        <div class="service_wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <div class="service_block">
                        <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-users"></i></span> </div>
                        <h3 class="animated fadeInUp wow">การคัดเลือก</h3>
                        <p class="animated fadeInDown wow">
                            คัดเลือกผู้สมัครที่มีความพร้อมทั้งด้านร่างกาย และ จิตใจ รวมถึงคุณสมบัติสำคัญตามมาฐานที่กำหนด เช่น การตรวจสอบประวัติต่างๆ และ การตรวจสอบคัดกรองหาสารเสพติดก่อนเข้าปฏิบัติงาน
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft">
                    <div class="service_block">
                        <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-male"></i></span> </div>
                        <h3 class="animated fadeInUp wow">การฝึกอบรม</h3>
                        <p class="animated fadeInDown wow">
                            บริษัทกำหนดการฝึกอบกรมทั้งภาคทฤษฎี และ ภาคปฏิบัติ เพื่อพัฒนาด้านความรู้ความเข้าใจ และ ความสามารถในการปฏิบัติงาน รวมถึงให้ตอบสนองกับการให้บริการ อย่างสม่ำเสมอ
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft">
                    <div class="service_block">
                        <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-key"></i></span> </div>
                        <h3 class="animated fadeInUp wow">การควบคุมและประเมินผล</h3>
                        <p class="animated fadeInDown wow">
                            ฝ่ายปฎิบัติการ
                            บริษัทฯ พร้อมให้บริการ 24 ชั่วโมง โดยมีศูนย์เพื่อรับเหตุการณ์ หรือแก้ไขปัญหาตลอดจนการสนับสนุนการปฏิบัติหน้าที่ของพนักงานรักษาความปลอดภัย  เพื่อเป็นการสร้างความมั่นใจว่าทุกคำร้องเรียน หรือ ปัญหาต่างๆ จะได้รับการแก้ไขได้อย่างทันท่วงที


                        </p>
                    </div>
                </div>
            </div>
            <div class="row borderTop">
                <div class="col-lg-4 mrgTop">
                    <div class="service_block">
                        <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-comment"></i></span> </div>
                        <h3 class="animated fadeInUp wow">ฝ่ายการตลาด</h3>
                        <p class="animated fadeInDown wow">
                            ฝ่ายการตลาด และ ลูกค้าสัมพันธ์
                            บริษัทฯ ได้กำหนดให้ส่วนเกี่ยวข้องต่างๆ ติดตามคุณภาพการให้บริการด้วยระบบลูกค้าสัมพันธ์ เพื่อรองรับข้อเสนอแนะต่างๆ พร้อมกำหนดให้ผู้ใช้บริการให้ประเมินความพึ่งพอใจตามข้อกำหนด เพื่อนำมาปรับปรุงการให้บริการได้อย่างมีประสิทธิภาพและ เป็นไปตามเจตนารมณ์ที่ท่านต้องการ
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft mrgTop">
                    <div class="service_block">
                        <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-eye"></i></span> </div>
                        <h3 class="animated fadeInUp wow">สายตรวจปฎิบัติการ</h3>
                        <p class="animated fadeInDown wow">
                            บริษัทฯมีศูนย์เพื่อรับเหตุการณ์และส่งสายตรวจปฏิบัติการประจำเส้นทางทั้งภาคกลางวัน และ ภาคกลางคืน เข้าตรวจสอบการปฏิบัติหน้าที่ของพนักงานรักษาความปลอดภัยอย่างสม่ำเสมอ และ ควบคุมการปฏิบัติหน้าที่ของสายตรวจปฏิบัติการด้วยระบบ ISO 9001 : 2008 จากประเทศอังกฤษ
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 borderLeft mrgTop">
                    <div class="service_block">
                        <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-bullhorn"></i></span> </div>
                        <h3 class="animated fadeInUp wow">บริการอื่นๆ</h3>
                        <p class="animated fadeInDown wow">
                            บริษัทฯ ยินดีที่จะให้ความร่วมมือและสนับสนุนกิจกรรมหรือเหตุ-การณ์ต่างๆ ผู้ใช้บริการ เช่น การควบคุมความสงบกรณีการเกิดความไม่เรียบร้อยภายในหน่วยงาน,การสืบสวนสอบสอบการทุจริตภายใน,ควบคุมการตรวจสอบปัสสาวะในการตรวจหาสารเสพติด เป็นต้น
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Service-->

